{
  "extends": [
    "@jedwards1211/eslint-config", "@jedwards1211/eslint-config-flow"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
