{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "extends": ["@jedwards1211/eslint-config", "eslint-config-prettier"],
  "env": {
    "node": true,
    "es6": true
  }
}
